{% extends "accounts/base_auth.html" %}
{% load i18n %}

{% block title %}{% translate "Password changed" %} - {{ site_name }}{% endblock %}
{% block auth_eyebrow %}{% translate "All done" %}{% endblock %}
{% block auth_title %}{% translate "Password changed" %}{% endblock %}

{% block auth_body %}
  <p class="text-sm leading-relaxed text-charcoal-700">
    {% translate "Your password has been updated and you are still signed in on this device." %}
  </p>
  <a href="{% url 'accounts:profile' %}" class="btn-primary mt-7 w-full !py-3">
    {% translate "Back to my account" %}
  </a>
{% endblock %}
