{% extends "accounts/base_auth.html" %}
{% load i18n %}

{% block title %}{% translate "Reset your password" %} - {{ site_name }}{% endblock %}
{% block auth_eyebrow %}{% translate "Account help" %}{% endblock %}
{% block auth_title %}{% translate "Reset your password" %}{% endblock %}
{% block auth_subtitle %}{% translate "Tell us your email address and we will send you a link to choose a new password." %}{% endblock %}

{% block auth_body %}
  <form method="post" class="space-y-5">
    {% csrf_token %}
    {% include "partials/_field.html" with field=form.email %}
    <button type="submit" class="btn-primary w-full !py-3">{% translate "Send reset link" %}</button>
  </form>
{% endblock %}

{% block auth_footer %}
  <a href="{% url 'accounts:login' %}" class="font-semibold text-farm-700 hover:underline">
    {% translate "Back to sign in" %}
  </a>
{% endblock %}
