{% extends "accounts/base_auth.html" %}
{% load i18n %}

{% block title %}{% translate "Password updated" %} - {{ site_name }}{% endblock %}
{% block auth_eyebrow %}{% translate "All done" %}{% endblock %}
{% block auth_title %}{% translate "Password updated" %}{% endblock %}

{% block auth_body %}
  <p class="text-sm leading-relaxed text-charcoal-700">
    {% translate "Your new password is saved. You can sign in with it now." %}
  </p>
  <a href="{% url 'accounts:login' %}" class="btn-primary mt-7 w-full !py-3">{% translate "Sign in" %}</a>
{% endblock %}
